<form [formGroup]="form" (ngSubmit)="create()">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom" formControlName="lastName" name="lastName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Prenom</mat-label>
      <input matInput placeholder="Prenom" formControlName="firstName" name="firstName">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Age" formControlName="age" name="age" type="number">
    </mat-form-field>
  </p>

  <button type="submit" mat-flat-button color="primary">Créer</button>
  <button type="reset" mat-flat-button>Reset</button>
</form>