table tr {
  border: 1px black;
}

table {
    width: 100%;
    margin-left:20px;
    margin-right:20px;
}

spacer {
  flex: 1 1 auto;
}

.example-container {
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 20em;
}

.test {
  width: fit-content;
}