<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Mon Application</span>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a routerLink="/characters">
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>Personnages
        </mat-list-item>
      </a>
      <a routerLink="/movies">
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>movie</mat-icon>
          </button>Films
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>