<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nom" class="margin-right: 10px">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let character"> {{character.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom </th>
        <td mat-cell *matCellDef="let character"> {{character.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let character"> {{character.age}} </td>
    </ng-container>
    <ng-container matColumnDef="deleteRow">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let character">
            <button mat-button mat-icon-button (click)="delete(character.id)">
                <mat-icon>delete</mat-icon>
            </button>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<a [routerLink]='["/characters/create"]'>
    <button>
        <mat-icon>create</mat-icon>
    </button>
</a>